@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #57d09f;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #02fe9c;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
